<div>
    <div class="my_feature__product">
        <p class="my_title">{{ section.settings.h-title }}</p>
        <h2 class="my_heading"> {{ section.settings.heading }} </h2>
    </div>
    <div class="my_feature__nav">
        <ul class="my_feature__list">
            <li class="my_feature__inner"><a href="" class="my_feature__link">Sweaters</a></li>
            <li class="my_feature__inner"><a href="" class="my_feature__link">Women</a></li>
            <li class="my_feature__inner"><a href="" class="my_feature__link">Bottoms</a></li>
            <li class="my_feature__inner"><a href="" class="my_feature__link">ACCESSORIES</a></li>
            <li class="my_feature__inner"><a href="" class="my_feature__link">MEN</a></li>
        </ul>
    </div>

    <div class="my_feature__product___list">
        {% for product in section.settings.collection.products  %}
                <div class="my_product_list grid{{ forloop.index }} ">
                    <img src="{{product.images[0].src |  img_url:'medium'  }}">
                    <p> {{ product.title }}</p>
                    <span> {{ product.price |  money}} </span>
                    <span> {{ product.compare_at_price |  money}} </span>
                </div>
        {% endfor %}    
    </div>
</div>


{% schema %}
{
    "name": "my-featured-collection",
    "settings": [
            {
                "type": "text",
                "id": "h-title",
                "label": "heading",
                "default":"LUXURIOUSLY AFFORDABLE"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "headings",
                "default":"Under $99.99"
            },
            {
                "type":"collection",
                "id":"collection",
                "label": "collection"
            }
        ],
       "presets": [
            {
                "name": "my-featured-collection"
            }
        ]
}
{% endschema %}